.weather-app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Füllt den gesamten Bildschirm */
  }
  
  .weather-icon {
    font-size: 3rem; /* Ändere die Icon-Größe nach Bedarf */
  }